{% extends 'base.html.twig' %}

{% block title %}Tous les services du ZOO
{% endblock %}

{% block body %}
<style>
		body {
			background-color: #26413c;
		}
		.cardhabitat {
			background-color: #3e505b;
		}
		.image-container {
        overflow: hidden;
    }
    .img-transform {
        transition: transform 0.3s ease-in-out;
    }
    .img-transform:hover {
        transform: scale(1.1);
    }
	</style>
	<div class="hero-scene text-center text-white mt-5 mb-5">
		<div class="hero-scene-content">

			<h1>LES SERVICES</h1>
			<p>Ce que vous pouvez faire au ZOO Arcadia</p>

		</div>
	</div>
	<article class="text-black">
		{% for services in services %}
			<div class=" p-4 text-white{% if loop.index is odd %} bg-dark{% endif %}">
				<div class="container p-2">
					<h2 class="text-center text-white p-2">{{services.servicenom}}</h2>
					<div class="row row-cols-1 row-cols-lg-3">
						<div class="col">
							<p class="text-center mt-3">
								{{services.servicedescription | raw}}
							</p>
						</div>
						<div class="col ">
							<div class="image-card text-black">
								<img src="/uploads/{{services.serviceimage}}" class="rounded w-100" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>{% endblock %}
