{% extends 'base.html.twig' %}

{% block title %}Tous les services du ZOO
{% endblock %}

{% block body %}
	<div class="hero-scene text-center text-white">
		<div class="hero-scene-content">

			<h1>LES SERVICES</h1>
			<p>Ce que vous pouvez faire au ZOO Arcadia</p>

		</div>
	</div>
	{% for services in services %}
			<div class="text-white p-4 {% if loop.index is odd %} bg-dark{% endif %}">
				<div class="container p-4">
				<h2 class="text-center p-4 text-white">{{services.servicenom}}</h2>
				<div class="row row-cols-1 row-cols-lg-2 align-items-center">
					<div class="col">
						<p class="text-center">
							{{services.servicedescription | raw}}
						</p>
					</div>
					<div class="col">
						<img class="w-100 rounded" src="/uploads/{{services.serviceimage}}" alt="food">
					</div>
				</div>
				</div>
			</div>
	{% endfor %}
{% endblock %}